<div class="p-grid">
  <div class="p-col-3">
    <div class="p-grid">
      <div class="p-col-12">
        <h5>Brands</h5>
        <p-listbox
          [options]="brands"
          optionLabel="name"
          [style]="{ width: '15rem' }"
        ></p-listbox>
      </div>
      <div class="p-col-12">
        <h5>Types</h5>
        <p-listbox
          [options]="types"
          optionLabel="name"
          [style]="{ width: '15rem' }"
        ></p-listbox>
      </div>
    </div>
  </div>
  <div class="p-col">
    <div class="p-grid">
      <div *ngFor="let item of products" class="p-col-4">
        <app-product-items [product]="item"></app-product-items>
      </div>
    </div>
  </div>
</div>
