<div class="p-grid">
  <div class="p-col-3">
    <div class="p-grid">
      <div class="p-col-12">
        <h5>Brands</h5>
        <p-listbox
          [options]="brands"
          [(ngModel)]="brandIdSelected"
          optionLabel="name"
          [style]="{ width: '15rem' }"
        >
          <ng-template let-brand pTemplate="item">
            <div
              (click)="onBrandSelected(brand.id)"
              [class]="brandIdSelected === brand.id ? 'p-highlight' : ''"
            >
              <div>{{ brand.name }}</div>
            </div>
          </ng-template>
        </p-listbox>
      </div>
      <div class="p-col-12">
        <h5>Types</h5>
        <p-listbox
          [options]="types"
          [(ngModel)]="typeIdSelected"
          optionLabel="name"
          [style]="{ width: '15rem' }"
        >
          <ng-template let-type pTemplate="item">
            <div (click)="onTypeSelected(type.id)">
              <div>{{ type.name }}</div>
            </div>
          </ng-template>
        </p-listbox>
      </div>
    </div>
  </div>
  <div class="p-col">
    <div class="p-grid">
      <div *ngFor="let item of products" class="p-col-4">
        <app-product-items [product]="item"></app-product-items>
      </div>
    </div>
  </div>
</div>
